# =========================
# FRONTEND
# =========================
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env*
frontend/.DS_Store

# =========================
# BACKEND
# =========================
backend/node_modules/
backend/dist/
backend/build/
backend/*.log
backend/.env*
backend/.DS_Store

# =========================
# GLOBAL / GENERAL
# =========================
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# =========================
# OS and Package Managers
# =========================
package-lock.json
yarn.lock
pnpm-lock.yaml
